body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1, h3 {
  display: inline;
}
h3 {
  vertical-align: text-bottom;
  padding: 10px;
}
h3 a {
  color: #002AFF;
}