<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>Preguntas</h1>
		<% if (subtitulo = 1) { %>
		<p>Resultados de la búsqueda</p>
		<% } %>
		<table>
			<% for (var i in quizes) { %>
			<tr>
				<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].question %></a></td>
			</tr>
			<% } %>
		</table>
		<footer>
			<p><form method="get" action="/quizes">
				<input type="text" name="search" value="" placeholder="Buscar pregunta" required/>
				<input type="submit" name="Buscar" value="Buscar">
			</form></p>
			<% if (subtitulo = 1) { %>
			<p><a href="/quizes">Mostrar todas las preguntas</a></p>
			<% } %>
			<p><a href="/">Volver</a></p>
			
		</footer>
	</body>
</html>