<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<title>Quiz</title>
 		<link rel='stylesheet' href='/stylesheets/style.css' />
 	</head>
 	<body>
		<h2>Pregunta <%= npregunta %></h2>
		<form method="get" action="/quizes/<%= npregunta %>/check">
			<p>¿Cuál es la <%= quiz.question %>?</p>
			<input type="text" name="answer" value="<%= answer %>" placeholder="Responda aquí"/>
			<input type="submit" value="Comprobar"/>
		</form>
		<footer>
			<p><a href="javascript:history.back()">Volver</a></p>
		</footer>
	</body>
 </html>